.news-container {
  border-bottom: solid 2px #fff;
  &:hover {
    border-bottom-color: #282c34;
  }
  &:last-child {
    border-bottom:none;
  }
  a {
    text-decoration: none;
    &:hover {
      color:#fff;
    }
  }
}
