@import '../../sass/mixins.scss';

@keyframes opa {
  0% {opacity: 0}
  25% {opacity: 0.5}
  100% {opacity: 1}
}

.card-entry {
  border-top: 2px solid #fff;
  width:93%;

  @include bp(large){
    border-bottom: 2px solid #fff;
    border-top:none;
  }

  .card-container {
    box-shadow: 0 3px 4px rgba(0,0,0,0.8);

    .card-body {
      position: absolute;
      left:50%;
      top:50%;
      transform: translate(-50%,-50%);
      max-height: 100%;
      background-color: rgba(0,0,0,0.5);
      padding:0.5em;

      .card-title {
        color:#fff;
      }

      @include bp(large){
        opacity: 0;
        transition: opacity 2.5s ease 0.1s;
        background-color: transparent;

        &:hover {
          opacity: 1;
        }
      }
    }// .card-body

    a {
        display: block;
        text-decoration: none;
        cursor: pointer;

        .btn {
          background-color: rgb(138,130,63);
          padding: 5px;
          border-radius: 10px;
          color:#000;
          cursor: pointer;
        }
    } //a

    .card-image {
      position: relative;
      transition: transform 0.4s linear;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 258px;

      &:hover:before {
        position: absolute;
        top:0;
        bottom: 0;
        left:0;
        right: 0;
        background-color: rgba(0,0,0,0.8);
        content: '';
        opacity: 0;
        animation: opa 1.5s;
        animation-fill-mode: forwards;
      }

      &:hover {
        transform: scale(1.01);
      }

      @include bp(small) {
        height: 350px;
      }

      @include bp(large) {
        height: 300px;
      }
    } //card-image
  } //card-container

  @include bp(large)  {
    @include grid(2,2%,1);
    &:nth-child(2n){margin-right: 0}
  }
  @include bp(elarge)  {
    @include grid(3,1%,1);
    &:nth-child(2n){margin-right: 1%}
    &:nth-child(3n){margin-right: 0}
  }
} //card-entry
