@import '../../sass/mixins.scss';

.articles-container {

  background-color: #979681;

  @include grid(1,0%,1);
  @include bp(medium){
    @include grid(8,0%,5);
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 2em 1em;
  }
}
